@page
@model LegitProject.Pages.MyPages.SignUpModel
@{
    ViewData["Title"] = "Sign Up";
}

<div class="text-center">

        <input type="text" style="margin-top:50px;" id="username" placeholder="Username" asp-for="User.Username" />
        <br />
        <input type="password" style="margin-top:20px;" id="password" placeholder="Password" asp-for="User.Password" />
        <br />
        <input type="submit" style="margin-top:20px;" />
    <h1 class="text-light">
     
        
    </h1>

    
</div>

