@page
@model LegitProject.Pages.MyPages.SignUpModel
@{
    ViewData["Title"] = "Sign Up";
}

<div class="text-center">

    <form method="post">
        <input type="text" style="margin-top:50px;" id="username" placeholder="Username" asp-for="UserModel.Username" />
        <br />
        <input type="password" style="margin-top:20px;" id="password" placeholder="Password"  />
        <br />
        <input type="submit" value="Create" class="btn btn-primary" />
        </form>
    <h1 class="text-light">
     
    </h1>

    
</div>

