@page
@model LegitProject.Models.User
@{
    ViewData["Title"] = "Sign in";
}

<div class="text-center">
    <form id="signupForm">
        <input type="text" id="username" placeholder="Username" />
        <input type="password" id="password" placeholder="Password" />
        <button type="submit">Sign Up</button>
    </form>
    <div class="text-center">
      
    </div>
</div>
